@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1F2B47;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a8b0fa;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #818CF8;
  }